body {
	margin: 0;
	background-image: url("images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.left_part {
	position: absolute;
	width: 40%;
	top: 5%;
	left: 5%;
	right: 5%;
}

.right_part {
	position: absolute;
	width: 45%;
	top: 5%;
	right: 5%;
	left: auto;
}

header {
	display: block;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	font-family: Segoe Print;
	font-size: 3vw;
	font-weight: bold;
	text-shadow: -3px -3px #2E6FC5;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.about {
	color: #2E6FC5;
	font-family: Adys;
	font-size: 1.62vw;
	font-style: italic;
	padding: 5px;
	text-shadow: 0.2px 0.2px black;
}

.panel {
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	background-color: rgba(255, 255, 255,.75);
	border: 2px solid #0E60C4;
	border-radius: 25px;
	padding: 12px;
	box-shadow: 0 0 20px #000;
}

label {
	display: inline-block;
	margin-left: 2%;
	margin-right: 1%;
	margin-top: 1px;
	color: #2c69ba;
	font-family: Calibri;
	font-size: 1.6vw;
	font-weight: bold;
	text-shadow: 0.5px 0.5px #000;
}

input[type=text], input[type=number] {
	width: 80px;
	height: 20px;
	text-align: center;
	color: #488eea;
	font-weight: bold;
	background-color: #d0d0d0;
	border: 1px solid #808080;
	border-radius: 5px;
}

.button {
	width: 22%;
	height: 25px;
	background-image: linear-gradient(to right, #488eea, #1350a0);
	color: #fff;
	font-family: Calibri;
	font-size: 1.45vw;
	border: 2px solid #1350a0;
	border-radius: 25px;
	float: right;
}

.button:hover {
	border: 2px solid #488eea;
}

.error {
	color: #e60000;
	text-align: center;
	font-family: Calibri;
	font-size: 1.6vw;
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 2%;
    text-shadow: 0.5px 0.5px #000;
}

.timeNow {
	color: #808080;
	text-align: center;
	font-family: Calibri;
	font-size: 1.5vw;
	font-style: italic;
	margin-bottom: 1%;
}

.result_text {
	color: #1350a0;
	text-align: center;
	font-family: Calibri;
	font-size: 1.6vw;
	font-weight: bold;
	text-shadow: 0.3px 0.3px #000;
}

.result_time {
	color: #488eea;
	text-align: center;
	font-family: Calibri;
	font-size: 2.7vw;
	font-weight: bold;
	font-style: italic;
	margin-top: 1%;
	text-shadow: 1px 1px #000;
}

footer {
	position: fixed;
	width: 45%;
	bottom: 1.5%;
	right: 5%;
	left: auto;
	text-align: center;
	color: #b0b0b0;
	font-family: Calibri;
	font-size: 1.52vw;
	text-shadow: 0px 0px 3px #000;
}